*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:linear-gradient(135deg,#4203a9,#90bafc);
    color: white;
}
.container{
   width: 90%;
   max-width: 700px;
   margin: 12%;
}
.text h1{
    font-size: 55px;
    /* font-weight: 100; */

}
.text h1 span{
  color: #ffcc00;
}
.age-box{
    width: 90%;
    background-color: #ffffff61;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 20px;
    border-radius: 5px;
}
#dob{
    width: 75%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
}
#CalculateBtn{
    width: 22%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 17px;
    background-color: #ffcc00;

}
p{
    font-size: 18px;
}